*{
    padding: 0;
    margin: 0;
    font-family: 'Poppins',sans-serif;
}

.main{
    width: 100%;
    background-color: #e4e5e7;
    background-position: center;
    background-size: cover;
    height: 100vh;
}

.navbar{
    width: 86%;
    display: flex;
    margin: auto;
    padding: 15px 0;
    align-items: center;
    justify-content: space-between;
}

ul{
    margin-top: 4%;
}

ul li{
    list-style: none;
    display: inline-block;
    padding: 10px 16px;
}

ul li a{
    font-size: 16px;
    font-weight: bold;
    text-decoration: none;
    color: darkslategray;
    margin-top: 3%;
}

ul li a:hover{
    color: orangered;
}

.info{
    margin-left: 7%;
    margin-top: 6%;
}

.info h1{
    font-size: 65px;
    color: rgb(12, 12, 75);
    padding: 10px;
}

.info h3{
    font-size: 18px;
    letter-spacing: 1px;
    line-height: 24px;
    padding-left: 10px;
}

.info a{
    text-decoration: none;
    color: #fff;
    background: rgb(36, 32, 30);
    margin: 26px o;
    padding: 10px 18px;
    border-radius: 10px;
    display: inline-block;
}

.image{
    width: 30%;
    height: 60%;
    position: absolute;
    right: 100px;
    bottom: 0;
}

.image img{
    position: absolute;
    height: 100%;
    left: 10%;
    bottom: 30%;
}